notes/Valimaki_MD/valimaki_md.dvi
notes/Valimaki_MD/.texpadtmp/valimaki_md.aux
notes/Valimaki_MD/.texpadtmp/valimaki_md.dvi
notes/Valimaki_MD/.texpadtmp/valimaki_md.log
notes/Valimaki_MD/.texpadtmp/valimaki_md.synctex.gz
notes/spiegler_2016/spiegler_2016.dvi
notes/spiegler_2016/.texpadtmp/spiegler_2016.aux
notes/spiegler_2016/.texpadtmp/spiegler_2016.dvi
notes/spiegler_2016/.texpadtmp/spiegler_2016.log
notes/spiegler_2016/.texpadtmp/spiegler_2016.synctex.gz
notes/spiegler_2016/image/bn.png
notes/spiegler_2016/image/dag.png
notes/credible/notes_cm.dvi
notes/credible/.texpadtmp/notes_cm.aux
notes/credible/.texpadtmp/notes_cm.dvi
notes/credible/.texpadtmp/notes_cm.log
notes/credible/.texpadtmp/notes_cm.synctex.gz
notes/fershtman_2017/notes_fershtman_2017.dvi
notes/peer_prediction/notes_pp.dvi
notes/peer_prediction/.texpadtmp/notes_pp.aux
notes/peer_prediction/.texpadtmp/notes_pp.dvi
notes/peer_prediction/.texpadtmp/notes_pp.log
notes/peer_prediction/.texpadtmp/notes_pp.synctex.gz
notes/peer_prediction/notebook/.python-version
notes/literature_review_20180620/.texpadtmp/review_20180620.aux
notes/literature_review_20180620/.texpadtmp/review_20180620.dvi
notes/literature_review_20180620/.texpadtmp/review_20180620.log
notes/literature_review_20180620/.texpadtmp/review_20180620.synctex.gz
notes/spiegler_2016/correction/spiegler_2016.dvi
notes/spiegler_2016/correction/.texpadtmp/spiegler_2016.aux
notes/spiegler_2016/correction/.texpadtmp/spiegler_2016.dvi
notes/spiegler_2016/correction/.texpadtmp/spiegler_2016.log
notes/spiegler_2016/correction/.texpadtmp/spiegler_2016.synctex.gz
notes/spiegler_2016/correction/image/bn.png
notes/spiegler_2016/correction/image/dag.png
.Rproj.user
old/README.md
old/credible/notes_cm.pdf
old/credible/notes_cm.tex
old/credible/image/credible.png
old/credible/image/trilemma.png
old/fershtman_2017/notes_fershtman_2017.pdf
old/fershtman_2017/notes_fershtman_2017.tex
old/fershtman_2017/image/adverse.png
old/fershtman_2017/image/eff_eq.png
old/fershtman_2017/image/trans.png
old/literature_review_20180620/review_20180620.dvi
old/literature_review_20180620/review_20180620.pdf
old/literature_review_20180620/review_20180620.tex
old/peer_prediction/notes_pp.pdf
old/peer_prediction/notes_pp.tex
old/peer_prediction/notebook/PeerPrediction.ipynb
old/peer_prediction/notebook/.ipynb_checkpoints/PeerPrediction-checkpoint.ipynb
old/spiegler_2016/spiegler_2016.pdf
old/spiegler_2016/spiegler_2016.tex
old/spiegler_2016/correction/spiegler_2016.pdf
old/spiegler_2016/correction/spiegler_2016.tex
old/spiegler_2016/notebook/Spiegler2016QJE.ipynb
old/Valimaki_MD/valimaki_md.pdf
old/Valimaki_MD/valimaki_md.tex
