notes/Valimaki_MD/valimaki_md.dvi
notes/Valimaki_MD/.texpadtmp/valimaki_md.aux
notes/Valimaki_MD/.texpadtmp/valimaki_md.dvi
notes/Valimaki_MD/.texpadtmp/valimaki_md.log
notes/Valimaki_MD/.texpadtmp/valimaki_md.synctex.gz
notes/spiegler_2016/spiegler_2016.dvi
notes/spiegler_2016/.texpadtmp/spiegler_2016.aux
notes/spiegler_2016/.texpadtmp/spiegler_2016.dvi
notes/spiegler_2016/.texpadtmp/spiegler_2016.log
notes/spiegler_2016/.texpadtmp/spiegler_2016.synctex.gz
notes/spiegler_2016/image/bn.png
notes/spiegler_2016/image/dag.png
notes/credible/notes_cm.dvi
notes/credible/.texpadtmp/notes_cm.aux
notes/credible/.texpadtmp/notes_cm.dvi
notes/credible/.texpadtmp/notes_cm.log
notes/credible/.texpadtmp/notes_cm.synctex.gz
notes/fershtman_2017/notes_fershtman_2017.dvi
notes/peer_prediction/notes_pp.dvi
notes/peer_prediction/.texpadtmp/notes_pp.aux
notes/peer_prediction/.texpadtmp/notes_pp.dvi
notes/peer_prediction/.texpadtmp/notes_pp.log
notes/peer_prediction/.texpadtmp/notes_pp.synctex.gz
notes/peer_prediction/notebook/.python-version
